<div class="q_divO">
	<div class="q_divI">
	       <div class="q_divUp">
	              <div>
	               <span>类型：</span>
	               <div class="q_search">
	               <input type="text"   placeholder="权利人/产权证号" />
            		<a href="#" class="btn btn-jlself btn-sm q_sousuo"><i class="fa fa-search" aria-hidden="true"></i>搜索</a>
            		<a href="#"  class="btn btn-jlself btn-sm q_chaxun" onclick="" >新增查询</a>
            		<a href="#"  class="btn btn-jlself btn-sm q_daoru" ><i class="fa fa-sign-in" aria-hidden="true"></i>批量导入</a>
            		</div>
	                 <a class="btn btn-default q_a" href="#" role="button">全部</a>
		<a class="btn btn-default q_a" href="#" role="button">房产</a>
		<a class="btn btn-default q_a" href="#" role="button">不动产</a>
		<a class="btn btn-default q_a" href="#" role="button">土地</a>
		<span class="q_a">状态：</span>
		<a class="btn btn-default q_a" href="#" role="button">全部</a>
		<a class="btn btn-default q_a" href="#" role="button">抵押</a>
		<a class="btn btn-default q_a" href="#" role="button">未抵押</a>
		<a class="btn btn-default q_a" href="#" role="button">抵押查封</a>
		<a class="btn btn-default q_a" href="#" role="button">无房产</a>               		
            		</div>
        	          </div>		
                        	<div class="q_divDown">
                           	<div class="q_setTable">
                        	<div class="q_list">
                          	 <table width="100%">
	                            <th >权利人</th>
	                            <th width="12%">产权证号</th>
	                            <th width="15%">抵押权人</th>
	                            <th width="12%">身份证号</th>
	                            <th width="10%">抵押时间</th>
	                            <th width="8%">产权类型</th>
	                            <th width="8%">产权状态</th>
	                            <th width="8%">过户价</th>
	                            <th width="10%">操作</th>	  
                        	  </table>    
		</div>  
		<div class="q_end">                     
                        	<th>暂无数据</th> 
                        	</div>                           	
                              </div>	
                        </div>
	</div>
</div>