.y-jbxx{width:98%;background:#fff;margin:auto;}
.y-jbxx-title{display:table;padding:20px;border-bottom:1px solid #eee;width:100%;clear: both;}
.y-jbxx-title-button{display:block;color:#337ab7;text-decoration:none;float:left;padding:0px 10px;line-height:24px;margin:3px 10px; border-radius:3px;background:#fff;border:1px solid #eee;}
.y-jbxx-title-button:hover{background:#0c93e9;border:1px solid #0c93e9;color:#fff;text-decoration:none;}

.y-jbxx-part{padding:30px;}
.y-jbxx-part-contant{margin-top:30px;}
.y-jbxx-part-contant ul{list-style-type:none;padding-left:0px;}
.y-jbxx-gsxx-contant-table{line-height:1.5;}
.y-tr td{text-align:left;padding:8px;vertical-align:middle;border:1px solid #ddd;}
.y-tr-title{background:#f7f7f7;color:#919191;}


.y-jbxx-part-contant-people{border:1px solid #eee;box-shadow:0 0 2px #f5f5f5;padding:20px;width:24%;}
.y-jbxx-part-contant-people:hover{border-color:rgb(243,152,0);box-shadow:0 0 4px #ccc;}
.y-jbxx-part-contant-people div{vertical-align:middle;float:left;}
.y-jbxx-part-contant-people span{display: block;text-align:right;}
.y-jbxx-part-contant-people-img{display:block;}
.y-jbxx-part-contant-people h4{margin-bottom:10px;}
.y-jbxx-part-contant-people h4 strong{font-weight:normal;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;display: block;float:left;width:70%;}
.y-jbxx-part-contant-people h4 span{font-size:14px;color:#888;}
.y-jbxx-part-contant-people p{margin:0;}
.y-jbxx-part-contant-people p strong{width:30%;color:#999;float:left;}
.y-jbxx-part-contant-people p span{color: #999;}


.y-jbxx-part-contant-tabletwo{width: 100%;}
.y-jbxx-part-contant-tabletwo thead{background:#f1f1f1;color:#999;border:1px solid #eee;text-align:center;}
.y-jbxx-part-contant-tabletwo th{padding:8px;}
.y-jbxx-part-contant-tabletwo td{padding:8px;}


.y-jbxx-part-contant-lone{padding:0;display:table;list-style-type: disc;width:100%}
.y-jbxx-part-contant-lone li{float:left;width:50%;padding:10px 10px 10px 0;list-style:none;}
.y-jbxx-part-contant-lone li:nth-child(2n){padding: 10px 0 10px 10px;}
.y-jbxx-part-contant-lone li div{border:1px solid #eee;padding: 20px;box-shadow: 0 0 2px #f5f5f5;width:100%;}
.y-jbxx-part-contant-lone li div h4{font-size:18px;margin:10px 0px;}
.y-jbxx-part-contant-lone li div span{color:#999;font-size:12px;line-height:16px;overflow:hidden;width:33.3%;margin-right:10px;white-space:nowrap;text-overflow:ellipsis;}
.y-jbxx-part-contant-lone-div:hover{border-color:rgb(243,152,0);box-shadow:0 0 4px #ccc;}