// Place all the styles related to the QiYexiangqing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the QiYexiangqing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//法律诉讼
.c_flss{
  width: 98%;
  background-color: #fff;
  border:1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
  box-shadow:0 0 3px #ccc;
}
.c_flss_top{
  height: 100px;
  border-bottom: 1px solid #ddd;
}
.c_flss_top a{
  margin-right: 30px;
  color: royalblue;
  margin-top: 35px;
  height: 34px;
  border: 1px solid #ddd;
  &:hover{
    background-color: #0c93e3;
    color: #fff;
    border: 1px solid #0c93e3;
  }
}
.c_flss_top_first{
  margin-left: 43px;
}

.c_flss_bttom_zuo{
  width: 25%;
  float: left;
  margin-top: 40px;
  font-size: 14px;
  div{
    margin-left: 42px;
    border: 1px solid #f6f6f6;
    background-color: #f7f7f7;
    color: #777;
    border-radius: 3px;
    height: 40px;
    line-height: 20px;
    span{
      margin-left: 15px;
      display: block;
      margin-top: 10px;
    }
  }
}
#c_flss_bttom_zuo_gs{
  margin-left: 30px;
  border: 1px solid #008be7;
  background-color: #0c93e9;
  color: #fff;
  margin-top: 15px;
  display: none;
}
#c_flss_bttom_zuo_gl{
  margin-top: 33px;
}

.c_flss_bttom_you{
  width: 70.8%;
  margin-left: 50px;
  float: left;
  margin-top: 19px;
}
#c_flss_bttom_tj{
  background-color:#24aaff ;
  border: 1px solid #24aaff;
  position: absolute;
  right: 75px;
  margin-top: 20px;
  float: right;
  color: #fff;
  &:hover{
    background-color: #0c93e9;
    border: 1px solid #0c93e9;
    color: #fff;
  }
}
#c_bttom_input{
  width: 280px;
  float: left;
}
.c_flss_xq{
  margin-top: 20px;
  a{
    margin-left: 15px;
    font-size: 14px;
  }
  span{
    display: block;
    float: left;
  }
}
#c_flss_xq_top,#c_flss_xq_down{
  a:hover{
    text-decoration: none;
  }
}
#c_input_gjc{
  margin-top: 10px;
}
#c_flss_xq top{
  top: 39px;
  position: relative;
  top: 39px;
}
#c_search{
  background-color: #F39800;
  border: 1px solid #F39800;
  color: #fff;
  &:hover{
    background-color:rgb(212,133,0) ;
    border: 1px solid rgb(212,133,0);
    color: #fff;
  }
}

.c_flss_bttom_gx{
  span{
    font-size: 14px;
  }
}
.c_flss_sj {
  span {
    position: relative;
    left: 50%;
  }
}