// Place all the styles related to the QiYejiankong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0px;
	padding: 0px;
}


//头部动态class
.head_mouseover{
	color: #F39800;
	background-color: #F8F8F8;
}

.head_mouseout{
	color: #666666;
	background-color: #fff;
}






.l_head{
height: 60px;
background-color: #fff;
border-bottom: 1px solid #ECECEC;

}

.l_head_menu{
	display: block;
	float: left;
	width: 124px;
	border-right: 1px solid #ECECEC;
	height: 59px;
	text-align: center;
	line-height: 60px;
               font-size: 14px;
               font-family: "微软雅黑；";
               color: #666666;

}

.logo{
width: 180px;
background-repeat: no-repeat;
background-size:160px 60px;
background-position: center;
}

.l_head_right{
   width: 169px;
   border-left: 1px solid #ECECEC;
   float: right;
   line-height: 60px;
   height: 59px;
position: absolute;
top: 0px;
right: 0px;

}

.l_head_right_img{
border-radius: 9em;
height: 40px;
margin-top: 0px;
margin-left: 10px;

}


.l_khzh{
color: #999999;
display: inline-block;
font-size: 12px;
position: relative;
top: -8px;

}
.l_khzw{
color: #999999;
display: inline-block;
font-size: 12px;
position: relative;
top:-50px;
margin-left: 54px;
}
#l_head_down{
display: block;
color: #999999;
position: relative;
top: -95px;
right: -140px;
}


.l_head_menu_a{
	display: block;

}

.qiyejiankong_footer{
	position: relative;
	top: 100px;
	
}


//display
.header_right_display{
	position: absolute;
	width: 150px;
	height: 363px;
	background: #fff;
	margin-top: -77px;
	z-index: 99;
	display: none;
	border: 1px solid #F8F8F8;
}

.header_right_display_img{
	display: inline-block;
	

}


.l_grzl_span{
	text-indent: 15px;
	text-decoration: none;
	margin-left: 0px;
	line-height: 43px;
	font-family: 微软雅黑;
	display: block;
	font-size: 12px;
	margin-top: 0px;
	color: #999;
	height: 43px;
	background-color: #fff;
}
.l_grzl_span a{
	text-decoration: none;
	font-size: 14px;
}


//筛选部分

.middles{

	position: relative;
	top: 35px;
}

.middles-left{
float: left;
margin-top: -30px;
margin-left: 30px;
}
.middles_right{
float: right;
margin-top: -30px;
}

.middles_left_buttom{
margin-top: 20px;


}
.middles_left_top span , .middles_left_buttom span{
    color: #999;
    line-height:  30px;
}

.l_inp_sort{
   color: #666666;
  border: 1px solid  #DDDDDD;
}
.middles_right_top{

margin-top: -40px;


}


.middles_right{
  margin-right: 30px;
}

.l_inp_namea{
	width: 320px;
	display: inline-block;
	margin-right: 5px;
float: left;
}
.l_out_put{

	margin-top: 10px;
}
.middles_right_buttom{
margin-left: 229px;

}
.l_sousuo{
	color: #fff;
     position: relative;
     left: 23px;
   
}
#l_inp_name_id{
  width: 336px;
}
.l_sousuos{

	color: #fff;
     position: relative;
     left: 135px;
     top: 7px;
}

.l_out_put{
background: red;
height:34px;
}

