// Place all the styles related to the she_baojiankong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";


.y-shebao{padding: 25px;width:100%;background:#fff;}
.y-menu_one{padding-top:0px;font-size:14px;line-height: 34px;}
.y-jslx{margin-top:20px;}
.y-menu_one_title{float: left;padding-top:5px;color:rgb(154,154,154); }
.j3,.j2{border-radius:0.3em;}
.j3:hover,.j3:focus{background:#0c93e9;color:#fff;text-decoration:none;}
.j2:hover,.j2:focus{background:#0c93e9;color:#fff;text-decoration:none;}


.y-menu_one_left{float:left;float:right;font-size: 14px;padding-top:15px;}
.y-menu_one_left_option{float:left;}
.y-menu-text{height:36px;width:300px;color:#555;border-radius: 4px;}
.y-menu-search{display:block;border-radius:0.3em;background:rgb(36,170,255);color:rgb(255,255,255);margin-right:10px;padding: 5px 12px;text-decoration:none;}
.y-menu-xz{display:block;border-radius:0.3em;background:rgb(243,152,0);color:rgb(255,255,255);margin-right:10px;padding: 5px 12px;text-decoration:none;}
.y-menu-search:hover,.menu-search:focus{background:rgb(12,147,233);color:rgb(255,255,255);text-decoration:none;}
.y-menu-xz:hover,.menu-xz:focus{background:rgb(212,133,0);color:rgb(255,255,255);text-decoration:none;}



