
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>




   <div class="middles" style="background: #fff; height: 75px; position: relative;top: 60px;    border-bottom: 1px solid  #F1F1F1; margin: 0 auto;"  >

<div class="li_middles_top_li">
   
<div class="li_middles_top_left" style="position: relative;top: -30px;">
   <span style="font-size: 24px;margin-right: 15px;">监控动态</span>
   <span><a href="#" class=" li_middles_top_a">企业列表</a>>全部</span>
</div>




<div class="li_middles_top_right">






<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
            data-toggle="dropdown">
        全部
        <span class="caret" id="caret_e"></span>
    </button>



    <ul class="dropdown-menu" id="li_display_sousuo" role="menu" aria-labelledby="dropdownMenu1" style="width: 353px;overflow-y: scroll;     height: 500px; ">
     <input type="text" class="form-control" placeholder=""  style="width: 97%; margin: 0 auto;">
   <span style="text-indent: 20px; ">
            <a role="menuitem" tabindex="-1" class="inp_l_li" href="#"  style="display:inline-block;width:100%;line-height:30px;height:30px;background-color: #337AB7; color: #fff;">全部</a>
    </span>
        <li role="presentation"  class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">Java</a>
        </li>
        <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
        </li>
        <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>
        </li>
        <li role="presentation"   class="inp_li" class="divider"></li>
        <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
                  <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
                  <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
                  <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
                  <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
                  <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>
           <li role="presentation"   class="inp_li">
            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
        </li>

    </ul>
</div>







</div>



</div>
   </div>

























   <div class="middles" style="background: #fff; height: 165px; position: relative;top: 60px;"  >
   	<div class="middles-left" style="margin-top: 0px;">
   		<div class="middles_left_top"><span>是否已读:</span>
   			<input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" type="button" value="全部" name="" style="background: #0C93E9; color: #fff;">
   			<input class="btn btn-default l_inp_sort" style="color: #666666;"  id="l_inp_sort_li" type="button" value="未读" name="">
               <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" style="color: #666666;"  type="button" value="已读" name="">
   		</div>

                        


   		<div class="middles_left_buttom"><span>所属公司:</span>
   			<input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" type="button" value="全部" name="" style="background: #0C93E9;color: #fff; " >
   			<input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" type="button" style="color: #666666;"  value="目标公司" name="">
   			<input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" type="button"  style="color: #666666;" value="关联公司" name="">
   		
   		</div>

         <div class="middles_left_buttom"><span>监控分类:</span>
            <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li" type="button" value="全部" name="" style="background: #0C93E9;color: #fff; " >
            <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="工商变更" name="">
            <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="经营异常" name="">
            <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="被执行人" name="">
            <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="互联网动态" name="">

               <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="裁判文书" name="">
                  <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="失信人" name="">
                     <input class="btn btn-default l_inp_sort"   id="l_inp_sort_li"  style="color: #666666;"  type="button" value="涉诉公告" name="">
         
         </div>

   	</div>


   </div>


   <div class="qiyejiankong_footer" style="background-color: #F0F0F0; " >

<%= render 'layouts/jiankongdongtai-table'%>
<%= render 'layouts/footer'%>

</div>