<div class="y-xysj">
	<div class="y-xysj-contant">
<div class=" y-xysj-contant-left panel-group" id="accordion">
	<div class="y-xysj-contant-left-part panel panel-default">
	  
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseOne" class="y-xysj-contant-left-part-title ">
			警示信息
		</a>

		<div id="collapseOne" class="panel-collapse collapse y-xysj-contant-left-part-txt">
		    
		    
		    <ul id="liebiao" class="panel-body">
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">中货车违法乱纪情况</a></li>
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">交通运输行政处罚信息</a></li>
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">企业工伤事故发生情况</a></li>
		    </ul>
		    
		
	    </div>
	</div>
	<div class="y-xysj-contant-left-part panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseTwo" class="y-xysj-contant-left-part-title">
			登记备案
		</a>
		<div id="collapseTwo" class="panel-collapse collapse y-xysj-contant-left-part-txt">
		
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="" class="y-xysj-contant-left-part-lb">税务登记信息（地税</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">企业参保信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">住房公积金缴存数据表</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">税务登记信息（国税</a></li>
			    </ul>
		
		</div>
	</div>
	<div class="y-xysj-contant-left-part panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseThree" class="y-xysj-contant-left-part-title">
			认证信息
		</a>
		<div id="collapseThree" class="panel-collapse collapse y-xysj-contant-left-part-txt">
			
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业网站信息</a></li>
			    </ul>
		
		</div>
	</div>
    </div>
	<div class="y-xysj-contant-right">
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
</div>
	</div>
</div>