<div class="body_l_xq_middle">
<div   class="l_xq_middle">
     <div class="l_xq_middle_top_left">
	<div  class="l_xq_middle_left" >
		<span class="l_xq_middle_left_h1">深圳市嘉力达节能科技股份有限公司</span>  &nbsp;&nbsp;&nbsp;&nbsp; <span class="l_xq_middle_left_h6">75家关联公司</span>
                              <ul class="l_xq_middle_left_ul">
                              <li>法定代表人： 李海建</li>
                                 <li>成立日期：1997年02月05日</li>
                                    <li>注册资本：4682.135800 万人民币</li>
                              </ul>
                              <br>
                              <span class="l_xq_middle_left_span">企业地址：深圳市南山区高新南一道创维大厦C座13、14楼</span>
               
                 <button type="button" class="btn btn-warning l_xq_middle_left_inp1" ><i  class="glyphicon glyphicon-random"> </i>&nbsp;&nbsp;企业报告</button>
                    <button type="button" class="btn btn-primary" value="" style="margin-top: -35px;"><i  class="glyphicon glyphicon-list-alt"> </i>&nbsp;&nbsp;关系图谱</button>
	</div>
               
                <div   class="l_xq_middle_right" >
	 <button type="button" class="btn btn-warning l_xq_middle_left_inp1" >更新数据</button>
                    <button type="button" class="btn btn-primary" value="" style="margin-top: -35px;">取消监控</button>
               </div>

               </div>

               <div class="l_xq_middle_top_mid">
                 <span class="l_xq_middle_top_mid_i">风险数据：</span>
                 <ul  class="l_xq_middle_top_mid_li">
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">工商变更</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">对外投资</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">经营异常</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">股权出质</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">裁判文书</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">被执行人</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">失信人</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">涉嫌公告</button></li>

                 </ul>

               </div>



</div>
</div>

   <div  class="l_xq_middle_button" >
               	<div class="l_xq_middle_button_mid">
               		<ul class="l_xq_middle_button_mid_ul">
               			<li class="l_xq_middle_button_mid_ul_li" style="background-color: #fff; border-top: 3px solid #F39800; color: #F39800;">风险概述</li>
               			<li class="l_xq_middle_button_mid_ul_li">基本信息/投资</li>
               			<li class="l_xq_middle_button_mid_ul_li">信用数据</li>
               			<li class="l_xq_middle_button_mid_ul_li">经营信息</li>
               			<li class="l_xq_middle_button_mid_ul_li">法律诉讼</li>
               			<li class="l_xq_middle_button_mid_ul_li">互联网动态信息</li>
               			<li class="l_xq_middle_button_mid_ul_li">企业抵押</li>
               			<li class="l_xq_middle_button_mid_ul_li">建筑信息</li>


               		</ul>

               	</div>


               	
               </div>