






<div class="body_l_xq_middle">
<div   class="l_xq_middle" style="">
     <div class="l_xq_middle_top_left"    style="width:85%;">
	<div  class="l_xq_middle_left"  style="width: 80%; ">
		<span class="l_xq_middle_left_h1">深圳市嘉力达节能科技股份有限公司</span>  &nbsp;&nbsp;&nbsp;&nbsp; <span class="l_xq_middle_left_h6">75家关联公司</span>
                              <ul class="l_xq_middle_left_ul">
                              <li>法定代表人： 李海建</li>
                                 <li>成立日期：1997年02月05日</li>
                                    <li>注册资本：4682.135800 万人民币</li>
                              </ul>
                              <br>
                              <span class="l_xq_middle_left_span">企业地址：深圳市南山区高新南一道创维大厦C座13、14楼</span>
                 <button type="button" class="btn btn-warning l_xq_middle_left_inp1" ><i  class="glyphicon glyphicon-random"> </i>&nbsp;&nbsp;企业报告</button>
                    <button type="button" class="btn btn-primary" value="" style="margin-top: -35px;"><i  class="glyphicon glyphicon-list-alt"> </i>&nbsp;&nbsp;关系图谱</button>
	</div>
                <div   class="l_xq_middle_right"   style="position: relative;top: -90px; margin-right: 20px;">
	 <button type="button" style=" margin-right: 13px;"class="btn btn-warning l_xq_middle_left_inp1" >更新数据</button>
                    <button type="button" class="btn btn-primary" value="" style="margin-top: -35px;">取消监控</button>
               </div>
               </div>
               <div class="border_bottom_li"> </div>
               <div class="l_xq_middle_top_mid">
                 <span class="l_xq_middle_top_mid_i">风险数据：</span>
                 <ul  class="l_xq_middle_top_mid_li">
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">工商变更</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">对外投资</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">经营异常</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">股权出质</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">裁判文书</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">被执行人</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">失信人</button></li>
                 	<li><button type="button" class=" l_xq_btnli" id="btn_xq">涉嫌公告</button></li>
                 </ul>
               </div>
</div>
</div>
   <div  class="l_xq_middle_button" id="nav_wrap">
               	<div class="l_xq_middle_button_mid">
               		<ul class="l_xq_middle_button_mid_ul"    id="navHeight"   >
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_1" style="background-color: #fff; border-top: 3px solid #F39800; color: #F39800;">风险概述</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_2">基本信息/投资</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_3">信用数据</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_4">经营信息</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_5">法律诉讼</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_6">互联网动态信息</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_7">企业抵押</li>
               			<li class="l_xq_middle_button_mid_ul_li " id="l_xq_middle_button_mid_ul_li_id_8">建筑信息</li>
               		</ul>
               	</div>
               </div>



<!--
 风险概述
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->

<div  class="qyxq_menu_display_1"   style="position: relative;top: 7px;">
<div   class="l_xq_mid_title"  id="nav_wrap_2">
<div  class="l_xq_mid_title_ul"   id="navHeight_2" >
     <li class="l_xq_mid_li l_xq_mid_li_click1">风险指标</li>
     <li class="l_xq_mid_li l_xq_mid_li_click2">目标公司负面信息图</li>
     <li class="l_xq_mid_li l_xq_mid_li_click3">目标公司诉讼信息图</li>
     <li class="l_xq_mid_li l_xq_mid_li_click4"> 关联公司负面信息图</li>
     <li class="l_xq_mid_li l_xq_mid_li_click5"> 目标/关联公司诉讼信息图</li>
</div>
</div>

                 <div class="l_FengXzb" style="overflow:hidden">
                   <div class="l_FengXzb_title">风险指标</div>
                         <div class="l_FengXzb_content">
                         	<div class="l_FengXzb_content_left">
                                             <span>目标公司</span>

                                             <ul  class="l_FengXzb_content_left_ul">
                                             	<li><a href="">注册资金已实缴，实缴资金4246.29万，占注册资本的90.69%</a></li>
                                             	<li><a href="">社保参保人数186人</a></li>
                                             	<li><a href="">公积金缴存截至时间2016-11，近12个月账户状态：正常</a></li>
                                             	<li><a href="">涉及裁判文书1篇</a></li>
                                             	<li><a href="">网络负面信息量季度增长200%</a></li>
                                             	<li><a href="">近6个月涉及严重负面信息3条，包括运营状况，等</a></li>
                                             </ul>
                         	</div>
                                   <div class="l_FengXzb_content_right">
                                                              <span>关联公司(近12个月)</span>
                                                                 <ul  class="l_FengXzb_content_left_ul">
                                             	<li><a href=""></a></li>
                                             	       </ul>
                                   </div>

                         </div>
                 </div>









                               <div class="l_FengXzb" style="overflow:hidden; margin-top: 20px;">
                   <div class="l_FengXzb_title">目标公司负面信息图</div>

         
                         <div  id="l_FengXzb_Fmxi"  style="width: 94%; margin: 0 auto; margin-top: 20px;">    </div>


                 </div>









                      <div class="l_FengXzb" style="overflow:hidden; margin-top: 20px;">
                   <div class="l_FengXzb_title">目标公司诉讼信息图</div>

                   <div  class="l_FengXzb_content" style="margin-top: 20px;width: 94%; margin: 0 auto; ">

                             <div  id="l_FengXzb_ssxxt" style="height: 400px; width: 50%; float: left;"></div>
                           <div   id="l_FengXzb_zxrtjt" style="height: 400px; width: 50%; float: right;"> </div>
                       </div>



                     <div class="l_FengXzb_title" style="margin-top: 450px;">目标公司诉讼信息图</div>
                     <div  id="l_FengXzb_cpwsxxt" style="height: 400px; width: 50%; float: left;"></div>

                 </div>











                      <div class="l_FengXzb" style="overflow:hidden; margin-top: 20px;">
                   <div class="l_FengXzb_title">关联公司负面信息图</div>
                       <div class="l_FengXzb_glgsfmxxt">
                                     <div class="l_FengXzb_glgsfmxxt_table_title">关联公司负面信息图</div>
                                             <table class="l_FengXzb_glgsfmxxt_table" >
                                             <thead>
                                             	<tr style="background-color:#F1F1F1 " class="l_FengXzb_glgsfmxxt_table_tr">
                                             		<th width="30px;">公司名称</th>
                                             		
                                             	</tr>

                                             </thead>
                                                              <tr>
                                                                         <td class="l_FengXzb_glgsfmxxt_table_td">暂无数据</td>

                                                              </tr>
                                             	
                                             </table>
  
                       </div>

                        
                 </div>








                      <div class="l_FengXzb" style="overflow:hidden; margin-top: 20px;">
                   <div class="l_FengXzb_title"> 目标/关联公司诉讼信息图</div>
                        
                                 <div class="l_FengXzb_glgsfmxxt">
                                     <div class="l_FengXzb_glgsfmxxt_table_title">关联公司负面信息图</div>
                                             <table class="l_FengXzb_glgsfmxxt_table" >
                                             <thead>
                                             	<tr style="background-color:#F1F1F1 " class="l_FengXzb_glgsfmxxt_table_tr">
                                             		<th width="30px;">公司名称</th>
                                             		
                                             	</tr>

                                             </thead>
                                                              <tr>
                                                                         <td class="l_FengXzb_glgsfmxxt_table_td">暂无数据</td>

                                                              </tr>
                                             	
                                             </table>
  
                       </div>


                 </div>


</div>



<!--
   基本信息
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->
<div class="y-jbxx qyxq_menu_display_2" style="position: relative;top: 87px;  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);">
	<div class="y-jbxx-title">
		<a href="" class="y-jbxx-title-button">工商基本信息</a>
		<a href="" class="y-jbxx-title-button">主要人员</a>
		<a href="" class="y-jbxx-title-button">股东信息</a>
		<a href="" class="y-jbxx-title-button">工商变更</a>
		<a href="" class="y-jbxx-title-button">对外投资</a>
		<a href="" class="y-jbxx-title-button">密切企业／个人</a>
		<a href="" class="y-jbxx-title-button">敏感人</a>
	</div>

	<div class="y-jbxx-part">
	    <h2>工商基本信息</h2>
		<div class="y-jbxx-part-contant">
			<table class="y-jbxx-gsxx-contant-table">
				<tbody>
					<tr class="y-tr">
						<td width="15%" class="y-tr-title">统一社会信用代码：</td>
						<td width="40%">91413141244787183W</td>
						<td width="15%" class="y-tr-title">组织机构代码：</td>
						<td width="30%">123114113</td>
					</tr >
					<tr class="y-tr">
						<td class="y-tr-title">组册号：</td>
						<td>123940819084748341074</td>
						<td class="y-tr-title">经营状态：</td>
						<td>在营（开业）企业</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">公司类型：</td>
						<td>股份有限公司</td>
						<td class="y-tr-title">成立日期：</td>
						<td>1997年02月05日</td>
						
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">法定代理人：</td>
						<td>李海健</td>
						<td class="y-tr-title">营业期限：</td>
						<td>1997年05月02日至</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">注册资本：</td>
						<td>2318.841948918万人民币</td>
						<td class="y-tr-title">发照日期：</td>
						<td>2016年04月11日</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">登记机关：</td>
						<td colspan="3">市市场和质量监管委南山局</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">企业地址：</td>
						<td colspan="3">深圳市南山区高新南一道创维大厦C座13、14楼</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">经营范围：</td>
					    <td colspan="3">投资兴办实业（具体项目另行申报）；合同能源管理、锅炉房节能技术、热泵技术、电厂热泵应用技术、太阳能技术、热网平衡改造技术、热网平衡技术的开发；节能产品、计算机软件、设备管理与能源管理信息化及服务、节能机电工程与信息系统集成及服务、国内贸易（法律、行政法规、国务院决定规定在登记前须批准的项目除外）；货物及技术进出口（法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）；节能方案咨询、信息咨询（不含人才中介、证券、保险、基金、金融业务及其它限制项目）。</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="y-jbxx-part">
	    <h2>主要人员</h2>	
		<div class="y-jbxx-part-contant">
			<div class="y-jbxx-part-contant-people">
				<div><img src="../../images/key-person.png" class="y-jbxx-part-contant-people-img"></div>
				<span>name</span>
			</div>
		</div>
	</div>
	<div class="y-jbxx-part">
	
		<h2>股东信息</h2>
		<div class="y-jbxx-part-contant">
		    <ul>
		    	<li>
		    		<div class="y-jbxx-part-contant-people">
		    			<h4><strong>北京市第五建筑工程集团有限公司</strong><span>企业法人</span></h4>
		    			<p><strong> 认资初缴</strong><span>10200万人民币／-</span></p>
		    			<p><strong> 实际出缴</strong><span>10200万人民币／-</span></p>
		    		</div>
		    	</li>
		    </ul>
		</div>
		
	</div>
	<div class="y-jbxx-part">
		<h2>工商变更</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="18%">变更日期</th>
		   			<th width="17%">变更事项</th>
		   			<th width="32.5%">变更前内容</th>
		   			<th width="32.5%">变更后内容</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<td></td>
		   			<td></td>
		   			<td></td>
		   			<td></td>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
	<div class="y-jbxx-part">
		<h2>对外投资</h2>
		<div class="y-jbxx-part-contant">
		    <ul class="y-jbxx-part-contant-lone">
		    	<li>
		    		<div class="y-jbxx-part-contant-lone-div">
		    			<h4>承德长泰集方生态公园开发有限公司</h4>
		    			<span>法定代表人：王列卡</span>
		    			<span>成立日期：2017-01-19</span>
		    			<span>注册资本：1000万人民币</span>
		    			<span>企业地址：评先坪村简介啊看浓墨重彩现在才能大喊</span>
		    		</div>
		    	</li>
		    	<li>
		    		<div>
		    		    
		    			<h4>承德长泰集方生态公园开发有限公司</h4>
		    			<span>法定代表人：王列卡</span>
		    			<span>成立日期：2017-01-19</span>
		    			<span>注册资本：1000万人民币</span>
		    			<span>企业地址：评先坪村简介啊看浓墨重彩现在才能大喊</span>
		    		   
		    		</div>
		    	</li>
		    </ul>
		</div>
		
	</div>
	<div class="y-jbxx-part">
	
		<h2>密切企业／个人</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="30%">关联特别密切的企业火者个人</th>
		   			<th width="70%">体现</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<th>北京市第五建筑工程集团有限公司</th>
		   			<th>北京建工集团有限责任公司是北京市第五建筑工程集团有限公司的股东；北京建工集团有限责任公司是北京市第一建筑工程有限公司的股东；东兆长泰投资集团有限公司是北京市第一建筑工程有限公司的股东；</th>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
	<div class="y-jbxx-part">
	
		<h2>敏感人</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="30%">敏感人</th>
		   			<th width="70%">体现</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<th>付京玉</th>
		   			<th></th>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
</div>

<!--
信用数据
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->


  <!--经营信息-->


<div class="y-xysj qyxq_menu_display_3"  style="position: relative;top: 87px;">
	<div class="y-xysj-contant">
<div class=" y-xysj-contant-left panel-group" id="accordion">
	<div class="y-xysj-contant-left-part panel panel-default">
	  
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseOne" class="y-xysj-contant-left-part-title ">
			警示信息
		</a>

		<div id="collapseOne" class="panel-collapse collapse y-xysj-contant-left-part-txt">
		    
		    
		    <ul id="liebiao" class="panel-body">
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">中货车违法乱纪情况</a></li>
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">交通运输行政处罚信息</a></li>
		    	<li><a href="#" class="y-xysj-contant-left-part-lb">企业工伤事故发生情况</a></li>
		    </ul>
		    
		
	    </div>
	</div>
	<div class="y-xysj-contant-left-part panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseTwo" class="y-xysj-contant-left-part-title">
			登记备案
		</a>
		<div id="collapseTwo" class="panel-collapse collapse y-xysj-contant-left-part-txt">
		
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="" class="y-xysj-contant-left-part-lb">税务登记信息（地税</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">企业参保信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">住房公积金缴存数据表</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">税务登记信息（国税</a></li>
			    </ul>
		
		</div>
	</div>
	<div class="y-xysj-contant-left-part panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion" 
		   href="#collapseThree" class="y-xysj-contant-left-part-title">
			认证信息
		</a>
		<div id="collapseThree" class="panel-collapse collapse y-xysj-contant-left-part-txt">
			
			    <ul id="liebiao" class="panel-body">
			    	<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业信息</a></li>
					<li><a href="#" class="y-xysj-contant-left-part-lb">电子商务认证企业网站信息</a></li>
			    </ul>
		
		</div>
	</div>
    </div>
	<div class="y-xysj-contant-right">
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div class="y-xysj-contant-right-c">
		<table class="y-xysj-contant-right-c-t">
			<thead class="yyxcr-table-head">
				<tr>
					<th width="30%">名称</th>
					<th>信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
</div>
	</div>








<!--
   经营信息
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->


  <!--经营信息-->
<div class="c_jyxx_all qyxq_menu_display_4"  style="position: relative;top: 87px;">
  <div class="c_jyxx_header">
    <a href="" class="btn-default c_first">经营异常&nbsp&nbsp0</a>
    <a href="" class="btn-default">股权出质&nbsp&nbsp0</a>
    <a href="" class="btn-default">动产抵押&nbsp&nbsp0</a>
    <a href="" class="btn-default">招聘信息&nbsp&nbsp10</a>
    <a href="" class="btn-default">行政处罚&nbsp&nbsp0</a>
    <a href="" class="btn-default">招标公告&nbsp&nbsp0</a>
    <a href="" class="btn-default">评价结果公示&nbsp&nbsp0</a>
    <a href="" class="btn-default">招标变更公告&nbsp&nbsp0</a>
    <a href="" class="btn-default">中标结果公告&nbsp&nbsp7</a>
  </div>

  <div class="c_jyxx_center">
    <h2 id="c_first_bt">
      经营信息
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="10%">列入日期</th>
            <th width="12%">作出决定机关</th>
            <th width="30%">列入经营异常名录原因</th>
            <th width="10%">移除时间</th>
            <th width="30%">移除经营异常名录原因</th>
          </tr>
        </thaed>
        <tbody>
          <tr class="c_tb_tr">
            <td colspan="6">暂无数据</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>
      股权出质
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover" id="aaa">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="15%">登记日期</th>
            <th width="25%">登记编号</th>
            <th width="15%">出质人</th>
            <th width="15%">质权人</th>
            <th width="12%">状态</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="7">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      动产抵押
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="15%">登记日期</th>
            <th width="15%">登记编号</th>
            <th width="15%">登记机关</th>
            <th width="15%">被担保债权种类</th>
            <th width="15%">被担保债权数额</th>
            <th width="7%">状态</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="8">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      招聘信息
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="27%">职位名称</th>
            <th width="27%">工作地点</th>
            <th width="20%">发布时间</th>
            <th width="18%">薪资</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="5">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      行政处罚
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="20%">行政处罚决定文号</th>
            <th width="20%">处罚机关</th>
            <th width="24%">处罚结果</th>
            <th width="14%">处罚日期</th>
            <th width="14%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="7">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      招标公告
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="50%">标题</th>
            <th width="20%">发布时间</th>
            <th width="12%">所属地区</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="5">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      评标结果公示
      <span>(0)</span>
    </h2>
    <div class="c_tb_all">
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="50%">标题</th>
            <th width="20%">发布时间</th>
            <th width="12%">所属地区</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td colspan="5">暂无数据</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      招标结果公示
      <span>(1)</span>
    </h2>
    <div class="c_tb_all" >
      <table class="table table-hover">
        <thaed class="c_tb_th">
          <tr>
            <th width="8%">序号</th>
            <th width="50%">标题</th>
            <th width="20%">发布时间</th>
            <th width="12%">所属地区</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td>1</td>
          <td class="c_text_left">范县2016年第二批统筹整合脱贫攻坚项目(10-18标段)中标公示变更</td>
          <td>2017-06-23</td>
          <td>濮阳市</td>
          <td><a href="">详情</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2>
      中标结果公告
      <span>(24)</span>
    </h2>
    <div class="c_tb_all" >
      <table class="table table-hover" >
        <thaed class="c_tb_th" >
          <tr  >
            <th width="8%">序号</th>
            <th width="50%">标题</th>
            <th width="20%">发布时间</th>
            <th width="12%">所属地区</th>
            <th width="10%">查看</th>
          </tr>
        </thaed>
        <tbody>
        <tr class="c_tb_tr">
          <td >1</td>
          <td class="c_text_left">会同县贫困村道路建设易地扶贫搬迁基础设施建设项目（A1－A7）标段中标候选人公示中标公告</td>
          <td>2017-06-30</td>
          <td >湖南省</td>
          <td><a href="">详情</a></td>
        </tr>
        <tr class="c_tb_tr">
          <td >2</td>
          <td class="c_text_left">郑州市轨道交通1号线二期工程及2号线一期工程交通设施恢复施工项目（二次）</td>
          <td>2017-06-28</td>
          <td >河南省</td>
          <td><a href="">详情</a></td>
        </tr>
        <tr class="c_tb_tr">
          <td >3</td>
          <td class="c_text_left">芷江侗族自治县贫困县乡村基础设施建设项目（二期）村组道路建设工程（A14－A26标段）中标候选人公示中标公告 </td>
          <td>2017-06-26</td>
          <td >湖南省</td>
          <td><a href="">详情</a></td>
        </tr>
        <tr class="c_tb_tr">
          <td >4</td>
          <td class="c_text_left">范县2016年第二批统筹整合脱贫攻坚项目（10-18标段）中标公告</td>
          <td>2017-06-23</td>
          <td >河南省</td>
          <td><a href="">详情</a></td>
        </tr>
        <tr class="c_tb_tr">
          <td >5</td>
          <td class="c_text_left">栾川县叫河镇上房沟1#、2#桥新建工程中标候选人公示</td>
          <td>2017-06-07</td>
          <td >洛阳市</td>
          <td><a href="">详情</a></td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>

  </div>

  <br><br><br>
</div>









<!--
法律诉讼
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->














<div class="c_flss qyxq_menu_display_5"   style="position: relative;top: 87px;">
  <div class="c_flss_top">
    <a href="" class="btn btn-default c_flss_top_first">涉诉公告&nbsp&nbsp4</a>
    <a href="" class="btn btn-default">裁判文书&nbsp&nbsp1</a> <a href="" class="btn btn-default">被执行人&nbsp&nbsp0</a>
    <a href="" class="btn btn-default">失信人&nbsp&nbsp0</a>
  </div>

  <div class="c_flss_bttom_zuo">
    <div class="c_mbgs">
      <span>目标公司</span>
      <div id="c_flss_bttom_zuo_gs" class="c_mbgs_gs"><span>深圳市景晔交通器材有限公司</span></div>
    </div>

    <div id="c_flss_bttom_zuo_gl">
      <span>关联公司(0)</span>
    </div>
  </div>

  <div class="c_flss_bttom_you">
    <div>
      <a href="" class="btn btn-default" id="c_flss_bttom_tj">
        <span>目标/关联公司诉讼信息统计</span>
      </a>
    </div>
    <div class="c_flss_xq" id="c_flss_xq_top">
      <span>类型：</span>
      <a href="">全部</a>
      <a href="">涉诉公告</a>
      <a href="">裁判文书</a>
      <a href="">被执行人</a>
      <a href="">失信人</a>
    </div>
    <div class="c_flss_xq" id="c_flss_xq_down">
      <span>时间：</span>
      <a href="">全部</a>
      <a href="">近2个月</a>
      <a href="">近6个月</a>
      <a href="">近1年</a>
      <a href="">2017</a>
      <a href="">2016</a>
      <a href="">2015</a>
      <a href="">2014</a>
      <a href="">2013</a>
      <a href="">2012</a>
      <a href="">更多</a>
    </div>
    <div class="c_flss_xq">
      <span id="c_input_gjc">关键词：</span>
      <input type="text" class="form-control" id="c_bttom_input">
      <a href="" class="btn btn-default" id="c_search">搜索</a>
    </div>


    <div class="c_flss_bttom_gx">
      <div>
        <div>
          <h2>诉讼公告 <span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>裁判文书 <span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>被执行人<span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>失信人<span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
    </div>

    <br><br>
  </div>

</div>





<!--
hulianwangdongtaixinxi
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 -->














<div class="c_flss qyxq_menu_display_6"   style="position: relative;top: 87px;">
  <div class="c_flss_top">
  <span>分类：</span>
    <a href="" class="btn btn-default c_flss_top_first">全部</a>
    <a href="" class="btn btn-default">事故&nbsp&nbsp1</a> <a href="" class="btn btn-default">被执行人&nbsp&nbsp0</a>
    <a href="" class="btn btn-default">资金问题&nbsp&nbsp0</a>
  </div>

  <div class="c_flss_bttom_zuo">
    <div class="c_mbgs">
      <span>目标公司</span>
      <div id="c_flss_bttom_zuo_gs" class="c_mbgs_gs"><span>深圳市景晔交通器材有限公司</span></div>
    </div>

    <div id="c_flss_bttom_zuo_gl">
      <span>关联公司(0)</span>
    </div>
  </div>

  <div class="c_flss_bttom_you">
    <div>
      <a href="" class="btn btn-default" id="c_flss_bttom_tj">
        <span>目标/关联公司诉讼信息统计</span>
      </a>
    </div>
    <div class="c_flss_xq" id="c_flss_xq_top">
      <span>关键词名称：</span>
      <a href="">全部</a>
      <a href="">江苏世联建工集团有限公司 13</a>
  
    </div>
    <div class="c_flss_xq" id="c_flss_xq_down">
      <span>时间：</span>
      <a href="">全部</a>
      <a href="">近2个月</a>
      <a href="">近6个月</a>
      <a href="">近1年</a>
      <a href="">2017</a>
      <a href="">2016</a>
      <a href="">2015</a>
      <a href="">2014</a>
      <a href="">2013</a>
      <a href="">2012</a>
      <a href="">更多</a>
    </div>
    <div class="c_flss_xq">
      <span id="c_input_gjc">关键词：</span>
      <input type="text" class="form-control" id="c_bttom_input">
      <a href="" class="btn btn-default" id="c_search">搜索</a>
    </div>


    <div class="c_flss_bttom_gx">
      <div>
        <div>
          <h2>诉讼公告 <span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>裁判文书 <span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>被执行人<span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
      <div>
        <div>
          <h2>失信人<span>(0)</span></h2>

        </div>
        <div class="c_flss_sj"><span>暂无数据</span></div>
      </div>
    </div>

    <br><br>
  </div>

</div>








