<div class="y-jbxx">
	<div class="y-jbxx-title">
		<a href="" class="y-jbxx-title-button">工商基本信息</a>
		<a href="" class="y-jbxx-title-button">主要人员</a>
		<a href="" class="y-jbxx-title-button">股东信息</a>
		<a href="" class="y-jbxx-title-button">工商变更</a>
		<a href="" class="y-jbxx-title-button">对外投资</a>
		<a href="" class="y-jbxx-title-button">密切企业／个人</a>
		<a href="" class="y-jbxx-title-button">敏感人</a>
	</div>

	<div class="y-jbxx-part">
	    <h2>工商基本信息</h2>
		<div class="y-jbxx-part-contant">
			<table class="y-jbxx-gsxx-contant-table">
				<tbody>
					<tr class="y-tr">
						<td width="15%" class="y-tr-title">统一社会信用代码：</td>
						<td width="40%">91413141244787183W</td>
						<td width="15%" class="y-tr-title">组织机构代码：</td>
						<td width="30%">123114113</td>
					</tr >
					<tr class="y-tr">
						<td class="y-tr-title">组册号：</td>
						<td>123940819084748341074</td>
						<td class="y-tr-title">经营状态：</td>
						<td>在营（开业）企业</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">公司类型：</td>
						<td>股份有限公司</td>
						<td class="y-tr-title">成立日期：</td>
						<td>1997年02月05日</td>
						
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">法定代理人：</td>
						<td>李海健</td>
						<td class="y-tr-title">营业期限：</td>
						<td>1997年05月02日至</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">注册资本：</td>
						<td>2318.841948918万人民币</td>
						<td class="y-tr-title">发照日期：</td>
						<td>2016年04月11日</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">登记机关：</td>
						<td colspan="3">市市场和质量监管委南山局</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">企业地址：</td>
						<td colspan="3">深圳市南山区高新南一道创维大厦C座13、14楼</td>
					</tr>
					<tr class="y-tr">
						<td class="y-tr-title">经营范围：</td>
					    <td colspan="3">投资兴办实业（具体项目另行申报）；合同能源管理、锅炉房节能技术、热泵技术、电厂热泵应用技术、太阳能技术、热网平衡改造技术、热网平衡技术的开发；节能产品、计算机软件、设备管理与能源管理信息化及服务、节能机电工程与信息系统集成及服务、国内贸易（法律、行政法规、国务院决定规定在登记前须批准的项目除外）；货物及技术进出口（法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）；节能方案咨询、信息咨询（不含人才中介、证券、保险、基金、金融业务及其它限制项目）。</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="y-jbxx-part">
	    <h2>主要人员</h2>	
		<div class="y-jbxx-part-contant">
			<div class="y-jbxx-part-contant-people">
				<div><img src="../../images/key-person.png" class="y-jbxx-part-contant-people-img"></div>
				<span>name</span>
			</div>
		</div>
	</div>
	<div class="y-jbxx-part">
	
		<h2>股东信息</h2>
		<div class="y-jbxx-part-contant">
		    <ul>
		    	<li>
		    		<div class="y-jbxx-part-contant-people">
		    			<h4><strong>北京市第五建筑工程集团有限公司</strong><span>企业法人</span></h4>
		    			<p><strong> 认资初缴</strong><span>10200万人民币／-</span></p>
		    			<p><strong> 实际出缴</strong><span>10200万人民币／-</span></p>
		    		</div>
		    	</li>
		    </ul>
		</div>
		
	</div>
	<div class="y-jbxx-part">
		<h2>工商变更</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="18%">变更日期</th>
		   			<th width="17%">变更事项</th>
		   			<th width="32.5%">变更前内容</th>
		   			<th width="32.5%">变更后内容</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<td></td>
		   			<td></td>
		   			<td></td>
		   			<td></td>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
	<div class="y-jbxx-part">
		<h2>对外投资</h2>
		<div class="y-jbxx-part-contant">
		    <ul class="y-jbxx-part-contant-lone">
		    	<li>
		    		<div class="y-jbxx-part-contant-lone-div">
		    			<h4>承德长泰集方生态公园开发有限公司</h4>
		    			<span>法定代表人：王列卡</span>
		    			<span>成立日期：2017-01-19</span>
		    			<span>注册资本：1000万人民币</span>
		    			<span>企业地址：评先坪村简介啊看浓墨重彩现在才能大喊</span>
		    		</div>
		    	</li>
		    	<li>
		    		<div>
		    		    
		    			<h4>承德长泰集方生态公园开发有限公司</h4>
		    			<span>法定代表人：王列卡</span>
		    			<span>成立日期：2017-01-19</span>
		    			<span>注册资本：1000万人民币</span>
		    			<span>企业地址：评先坪村简介啊看浓墨重彩现在才能大喊</span>
		    		   
		    		</div>
		    	</li>
		    </ul>
		</div>
		
	</div>
	<div class="y-jbxx-part">
	
		<h2>密切企业／个人</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="30%">关联特别密切的企业火者个人</th>
		   			<th width="70%">体现</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<th>北京市第五建筑工程集团有限公司</th>
		   			<th>北京建工集团有限责任公司是北京市第五建筑工程集团有限公司的股东；北京建工集团有限责任公司是北京市第一建筑工程有限公司的股东；东兆长泰投资集团有限公司是北京市第一建筑工程有限公司的股东；</th>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
	<div class="y-jbxx-part">
	
		<h2>敏感人</h2>
		<div class="y-jbxx-part-contant">
		   <table class="y-jbxx-part-contant-tabletwo">
		   	<thead>
		   		<tr>
		   			<th width="30%">敏感人</th>
		   			<th width="70%">体现</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<th>付京玉</th>
		   			<th></th>
		   		</tr>
		   	</tbody>
		   </table>
		</div>
		
	</div>
</div>