<div class="q_divO">
        <div class="q_divI q_divO">
                <div class="q_button">
                    <button id="q_btn" type="submit" class="btn " >企业资质</button>
                    <button id="q_btn" type="submit" class="btn " >注册人员</button>
                    <button id="q_btn" type="submit" class="btn ">工程项目</button>
                    <button id="q_btn" type="submit" class="btn ">诚信信息</button>
                    <button id="q_btn" type="submit" class="btn ">企业历史变更信息</button>
                </div>
<!-- 企业资质-->
                <div class="q_tip">
                    本单位共有<strong  data-bind="text:total()">2</strong>项资质，详细情况如下：
                </div>
                <div>
                    <dl>
                        <dt>
                            <strong id=q_strong class="btn btn-default">建筑业(新)</strong>
                        </dt>
                        <dd>
                            <table style="width: 100%">
                                <tr>
                                    <td width="14%" class="q_title">资质证书编号:</td>
                                    <td width="16%" class="q_td">D244****48</td>
                                    <td width="14%" class="q_title">发证机关:</td>
                                    <td width="16% " class="q_td">广东省住房和城乡建设厅</td>
                                    <td width="14%" class="q_title">企业负责人:</td>
                                    <td width="12%" class="q_td"></td>
                                </tr>
                                <tr>
                                    <td class="q_title">发证日期:</td>
                                    <td class="q_td">2016-07-25</td>
                                    <td class="q_title">有效期至:</td>
                                    <td class="q_td">2021-03-03</td>
                                    <td class="q_title">技术负责人:</td>
                                    <td class="q_td"></td>
                                </tr>
                                <tr>
                                <td  class="q_title">资质范围:</td>
                                <td  class="q_range">建筑机电安装工程专业承包壹级</td>
                                </tr>
                            </table>
                        </dd>
                    </dl>
                </div>
<!--注册人员 -->
                        <!-- <div class="q_tip">
                            <span>注册专业及等级：</span>
                            <button id="q_btn" type="submit" class="btn btn-sm" >全部</button>
                            <button id="q_btn" type="submit" class="btn btn-sm" >二级注册建造师</button>
                            <button id="q_btn" type="submit" class="btn btn-sm">一级注册建造师</button>
                            <button id="q_btn" type="submit" class="btn btn-sm" >二级临时注册建造师</button>
                            <span style="float: right;">本单位共有注册人员47人次</span>
                        </div>
                        <div>
                            <table style="width: 100%">
                                <tr>
                                    <td width="5%" class="q_td q_color">序号</td>
                                    <td width="10%" class="q_td q_color">人员姓名</td>
                                    <td width="15%" class="q_td q_color">证件号码</td>
                                    <td width="15% " class="q_td q_color">注册专业及等级</td>
                                    <td width="15%" class="q_td q_color">注册证书编号</td>
                                    <td width="15%" class="q_td q_color">执业印章号</td>
                                    <td width="15%" class="q_td q_color">发证日期</td>
                                    <td width="10%" class="q_td q_color">有效期至</td>
                                </tr>
                                <tr>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                    <td class="q_td">1</td>
                                </tr>
                            </table>
                        </div> -->
<!-- 工程项目 -->
                        <!-- <div class="q_tip">
                        <span >本单位共有131个工程项目</span>
                        <table style="width: 100%">
                                <tr>
                                    <td width="5%" class="q_td q_color">序号</td>
                                    <td width="35%" class="q_td q_color">项目名称</td>
                                    <td width="10%" class="q_td q_color">所在省市</td>
                                    <td width="15% " class="q_td q_color">项目编号</td>
                                    <td width="15%" class="q_td q_color">项目分类</td>
                                    <td width="20%" class="q_td q_color">建设单位</td>
                                </tr>
                                <tr>
                                    <td class="q_td">1</td>
                                    <td class="q_td">武汉出版文化产业园</td>
                                    <td class="q_td">湖北省-武汉市-江岸区</td>
                                    <td class="q_td">4201020812030101</td>
                                    <td class="q_td">房屋建筑工程</td>
                                    <td class="q_td">武汉华创版业发展有限公司</td>
                                </tr>
                            </table>
                        </div> -->
<!-- 诚信信息 -->
                       <!--  <div class="q_tip">
                        <span >本单位共有0条诚信信息</span>
                        <table style="width: 100%">
                                <tr>
                                    <td width="10%" class="q_td q_color">类别</td>
                                    <td width="10%" class="q_td q_color">实施部门</td>
                                    <td width="10%" class="q_td q_color">文号</td>
                                    <td width="14% " class="q_td q_color">发布有效期至</td>
                                    <td width="28%" class="q_td q_color">行为描述</td>
                                    <td width="28%" class="q_td q_color">决定内容</td>
                                </tr>
                                </table>
                                <table width="100%">
                                <tr>
                                    <td class="q_td">暂无数据</td>
                                </tr>
                            </table>
                        </div> -->
<!-- 企业历史变更信息 -->
                        <!-- <div class="q_tip">
                        <span >本单位共有0条信息变更</span>
                        <table style="width: 100%">
                                <tr>
                                    <td width="25%" class="q_td q_color">变更时间</td>
                                    <td width="75%" class="q_td q_color">变更详情</td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td  class="q_td">暂无数据</td>
                                </tr>
                            </table>
                        </div>     -->               
        </div>
</div>
