<div class="c_content" style="background-color: #fff;">
  <div class="c_sx">
    <div class="c_center" id="c_shang">
      <span class="">客户类型：</span>
      <input class="btn btn-default c_sx_jq_kh c_sx_jq" id="c_1" type="button"   style="color: #666666;" value="个人(13)">
      <input class="btn btn-default c_sx_jq_kh c_sx_jq" type="button"   style="color: #666666;"  value="企业(2)" id="c_2">
    </div>
    <div class="c_center">
      <span class="">产权类型：</span>
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="全部(13) " id="c_3">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="房产(13)" id="c_4">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="不动产(0)" id="c_5">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="不土地(0)" id="c_6">
    </div>
    <div class="c_center">
      <span class="">产权状态：</span>
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="全部(13) " id="c_7">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="抵押(6)" id="c_8">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="未抵押(2)" id="c_9">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="抵押查封(1)" id="c_10">
      <input href="" class="btn btn-default c_sx_jq" type="button"   style="color: #666666;"  value="无房产(2)" id="c_11">
    </div>
  </div>

  <div class="c_ss">
    <div class="c_update">
      更新时间：
      <span>2017-07-07 09:27:01</span>
    </div>
    <div class="c_input">
      <input id="c_input_input" class="form-control" type="text" placeholder="客户/权利人/产权证号/身份证号">
      <div class="c_input_a">
        <a href="" class="btn btn-default glyphicon glyphicon-search" id="c_ss_ss">搜索</a>
        <a href="" class="btn btn-default" id="c_chaxun">新增查询</a>
        <a href="" class="btn btn-default glyphicon glyphicon-share" id="c_daoru"><span>批量导入</span></a>
        <a href="" class="btn btn-default glyphicon glyphicon-share" id="c_daochu"><span>抵押导出</span></a>
      </div>
    </div>
  </div>
</div>




<div class="qiyejiankong_footer"  style="margin-top: -100px; position: relative;top: 73px;"  >

<%= render 'layouts/diyajiankong-table'%>
<%= render 'layouts/footer'%>

</div>




