<div class="c_content">
  <div class="c_sx">
    <div class="c_center" id="c_shang">
      <span class="">客户类型：</span>
      <div class="btn btn-default c_sx_jq_kh" id="c_1">个人(13)</div>
      <div class="btn btn-default c_sx_jq_kh" id="c_2">企业(2)</div>
    </div>
    <div class="c_center">
      <span class="">产权类型：</span>
      <a href="" class="btn btn-default c_sx_jq" id="c_3">全部(13) </a>
      <a href="" class="btn btn-default c_sx_jq" id="c_4">房产(13)</a>
      <a href="" class="btn btn-default c_sx_jq" id="c_5">不动产(0)</a>
      <a href="" class="btn btn-default c_sx_jq" id="c_6">不土地(0)</a>
    </div>
    <div class="c_center">
      <span class="">产权状态：</span>
      <a href="" class="btn btn-default c_sx_jq" id="c_7">全部(13) </a>
      <a href="" class="btn btn-default c_sx_jq" id="c_8">抵押(6)</a>
      <a href="" class="btn btn-default c_sx_jq" id="c_9">未抵押(2)</a>
      <a href="" class="btn btn-default c_sx_jq" id="c_10">抵押查封(1)</a>
      <a href="" class="btn btn-default c_sx_jq" id="c_11">无房产(2)</a>
    </div>
  </div>

  <div class="c_ss">
    <div class="c_update">
      更新时间：
      <span>2017-07-07 09:27:01</span>
    </div>
    <div class="c_input">
      <input id="c_input_input" class="form-control" type="text" placeholder="客户/权利人/产权证号/身份证号">
      <div class="c_input_a">
        <a href="" class="btn btn-default glyphicon glyphicon-search" id="c_ss_ss">搜索</a>
        <a href="" class="btn btn-default" id="c_chaxun">新增查询</a>
        <a href="" class="btn btn-default glyphicon glyphicon-share" id="c_daoru"><span>批量导入</span></a>
        <a href="" class="btn btn-default glyphicon glyphicon-share" id="c_daochu"><span>抵押导出</span></a>
      </div>
    </div>
  </div>
</div>








