<body class="q_main">
<div class="q_divOut">
	<div class="q_divIn clearfix">
		<div class="col-xs-2.4 q_divLeft">
		      <div class="q_xtsz">系统设置</div>
		        <div class="q_jkszL">	  		            
		            	<a href="  " class="q_jkszI"><span> > &nbsp</span>监控设置</a>		            
		        </div>	
		</div>
		<div class="col-xs-9.6 q_divRight">
		        <div class="q_jkszR">
		                 <p>监控设置</p>
		        </div>
		        <form class="q_form">
		        <div  class="q_setjklx">
		        <div class="q_setLei clearfix">
		        	 <span>监控类型：</span>
		        	 <div >
		        	      <p><input type="checkbox" name="gsbg" value="true" checked="checked" /> 工商变更</p>
 	                                      <p><input type="checkbox" name="jyyc" value="true" checked="checked" /> 经营异常</p>
                               		      <p><input type="checkbox" name="gqcz" value="true" /> 股权出质</p>
                               		      <p><input type="checkbox" name="hldt" value="true" checked="checked" /> 互联网动态</p>
                               		      <p><input type="checkbox" name="cjws" value="true" checked="checked" /> 裁决文书</p>
                                	      <p><input type="checkbox" name="bzxr" value="true" checked="checked" /> 被执行人</p>
                                	      <p><input type="checkbox" name="fygk" value="true" checked="checked" /> 涉诉公告</p>
                                	      <p><input type="checkbox" name="sxr" value="true" checked="checked" /> 失信人</p>
                                	      <p><input type="checkbox" checked="checked" disabled="disabled">抵押监控</p>
		        	 </div>
		        </div>
		        <div class="q_setjs" >
		        	<span >接收邮箱：</span>
		        	<div  class="q_yx">
		        	       <p><input  class="form-control" name="email" type="text" value="944974293@qq.com"></p>
                                                       <input type="button" onclic=" " class="btn btn-default q_tj" value="添加" />
		        	</div>
		        </div>
		        <div class="q_setjs">
		        	<span>接收号码：</span>
		        	<div class="q_hm">
		        	     <p><input  class="form-control" name="phone" type="text" value="18373282886"></p>
                                                      <input type="button" onclick="" class="btn btn-default q_tj" s value="添加" />
		        	</div>
		        </div>
		       <div class="q_sz">
		              <input type="button" onclick="" class="btn q_bc" value="保存设置" /></div>
                                       </div>
		     </div>
		     </form>		
		</div>
	</div>	
</div>
		               <div class="q_foot">
                                                 湖南奇点创智数据科技有限公司版权所有©2014 - 2017&nbsp;&nbsp;&nbsp;
                                                 <a href="" style="font-size: 13px" >意见反馈</a>
		               </div>
</body>