.q_divO{
    padding : 30px ;
}
.q_divI{
    background-color : #fff;
    box-shadow : 0 0 3px #ccc;
    color : #999;
}
.q_divUp{
    position : relative;
    padding : 30px;
    border-bottom : 1px solid #eee; 
}
.q_divDown{
    padding : 30px;
}
.q_setTable{
     background-color : #fff;
    box-shadow : 0 0 3px #ccc;   
}
.q_list
th{
    padding-top : 8px;
    padding-bottom : 8px ;
    color : #999;
    background-color : #f8f8f8;
    text-align : center;
    border-right : 1px solid #eee;
    }
.q_end{
    background-color : #fff;
    box-shadow : 0 0 3px #ccc;
    text-align : center;
    padding-top : 8px;
    padding-bottom : 8px ;
    color : #000;
}
.q_search{
    float: right;
}
.q_sousuo{
    margin-left:6px;
    background-color: #f39800; 
    background-color:#0c93e9;
    border-color: #0c93e9;
    color: #fff;
}
.q_chaxun{
    margin-left:16px;
    background-color: #f39800; 
    border-color: #e69000; 
    color: #fff;
}
.q_daoru{
    margin-left:16px;
    background-color: #f39800; 
    border-color: #e69000;
    color: #fff;
}
.q_a{
    margin-left : 10px ;
}