.q_main{
    background-color : #f0f0f0 ; 
    font-size : 14px ;
}
div{
    display : block ;
}
.q_divOut{
    padding : 38px ;
}
.q_divIn{
    background:#fff  url(leftbg.png) repeat-y -60px top;
    box-shadow : 0 0 3px #ccc ;
}
.q_divLeft{
    width : 250px ;
    float : left ;
    min-height : 650px;
    padding-bottom : 120px;
}
.q_xtsz{
    border-bottom : 1px solid #ddd;
    padding : 23px 30px 22px 36px;
    font-size : 20px;
    line-height : 34px;    
}
.q_jkszL{
    background-color : #2479e3 ;
    padding : 15px 20px 15px 20px;
    font-size : 16px;
}
.q_jkszI{
    color : #fff ;
}
.q_divRight{
    overflow : hidden;
}
.q_form{
    display: block;
    margin-top : 0pxs;
}
.q_jkszR{
    padding : 23px 20px  57px 0px; 
    border-bottom : 1px solid #ddd;
    font-size : 16px;
}
.q_setjklx{
    padding : 30px  30px 30px 30px;
}
.q_jklx{
    float : right;
}
.q_setLei  
span {
    float : left;
    line-height : 34px;
}
 p{
    float : left;
    padding-top : 6px;
    padding-left : 20px;
}

.q_setjs 
span {
    float : left;
    line-height : 40px;
}
p {
    float : left;
    padding-top : 4px;
    padding-left : 20px;
}
.q_yx{
    margin-top: 5px;
}
.q_hm{
    margin-top: 15px;
}
.q_sz{
    margin-top: 35px;
}
.q_tj{
    margin-left : 3px;
    margin-top : 4px;
}
.q_bc{
    width:150px;
    margin-left : 90px;
    background-color: #24aaff;
    color : #fff;
}
.q_foot{
    text-align : center;
    line-height : 60px;
    color:#808080;
    clear : both ;
}