
<div class="y-sbjk" >



<div class="y-contant">
	<div class="y-contant_one">
		<table class="y-form" cellspacing="0px;" style="box-shadow: 0 0 3px #ccc;">
		  <thead>
		    <tr class="y-form-head">
		    	<th width="">客户</th>
		    	<th width="10%">权利人</th>
		    	<th width="12%">产权证号</th>
		    	<th width="15%">抵押权人</th>
		    	<th width="12%">身份证号</th>
		    	<th width="8%">抵押时间</th>
		    	<th width="6%">产权类型</th>
		    	<th width="7%">产权状态</th>
		    	<th width="7%">过户价</th>
		    	<th width="10%">操作</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			                  <td></td>
			                <td></td>
				<td></td>
			                <td></td>
			                  <td></td>
			</tr>
			
		  </tbody>
		</table>  
	</div>
</div>
</div>