<p class="page-foot">湖南奇点创智数据科技有限公司版权所有©2014 - 2017&nbsp&nbsp&nbsp<a href="#" data-toggle="modal" data-target="#myModal">意见反馈</a></p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header opinion-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">意见反馈</h4>
            </div>
            <div class="modal-body opinion-body">
            	<p>任何产品中的问题，欢迎反馈给我们</p>
            	<textarea placeholder="请输入反馈内容"></textarea>
            	<textarea placeholder="请留下联系方式（电子邮箱，QQ，电话）"></textarea>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-primary">发送意见</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
