
<div class="y-sbjk" style="overflow: hidden;">



<div class="y-contant"  style="position: relative;top: 30px;overflow: hidden;" >
	<div class="y-contant_one">
		<table class="y-form" cellspacing="0px;" style="box-shadow: 0 0 3px #ccc;">
		  <thead>
		    <tr class="y-form-head">
		    	<th id="table_jiankong_id" width="8%">序号</th>
		    	<th id="table_jiankong_id" width="15%">关注公司</th>
		    	<th id="table_jiankong_id" width="20%">消息所属公司</th>
		    	<th id="table_jiankong_id" width="10%">更新日期</th>
		    	<th id="table_jiankong_id" width="8%">类型</th>
		    	<th id="table_jiankong_id" width="8%">消息级别</th>
		    	<th id="table_jiankong_id" width="15%">消息描述</th>
		    	
		    </tr>
		  </thead>
		  <tbody>
			<tr>
				<td  id="table_jiankong_id"></td>
				<td  id="table_jiankong_id"></td>
				<td  id="table_jiankong_id"></td>
				<td  id="table_jiankong_id"></td>
			                  <td  id="table_jiankong_id"></td>
			                <td  id="table_jiankong_id"></td>
				<td  id="table_jiankong_id"></td>
			              
			</tr>
			
		  </tbody>
		</table>  
	</div>
</div>
</div>