
<div class="y-sbjk"  style="position: relative;top: -10px;">



<div class="y-contant">
	<div class="y-contant_one">
		<table class="y-form" cellspacing="0px;" style="box-shadow: 0 0 3px #ccc;">
		  <thead>
		    <tr class="y-form-head">
		    	<th width="30%">公司信息</th>
		    	<th width="10%">新消息</th>
		    	<th width="12%">关联企业</th>
		    	<th width="12%">监控时间</th>
		    	<th width="12%">更新时间</th>
		    	<th width="10%">监控状态</th>
		    	<th width="10%">操作</th>
		    	
		    </tr>
		  </thead>
		  <tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			                  <td></td>
			                <td></td>
				<td></td>
			            
			</tr>
			
		  </tbody>
		</table>  
	</div>
</div>
</div>