
<div class="y-sbjk" >



<div class="y-contant" style="position: relative;top: 30px;">
	<div class="y-contant_one">
		<table class="y-form" cellspacing="0px;" style="box-shadow: 0 0 3px #ccc;">
		  <thead>
		    <tr class="y-form-head">
		    	<th width="15%">公司名称</th>
		    	<th width="10%">社保单位编号</th>
		    	<th width="10%">投保起始年月</th>
		    	<th width="10%">参保类型</th>
		    	<th width="8%">参保人数</th>
		    	<th width="8%">近两个月人数变化</th>
		    	<th width="8%">人数变化百分比</th>
		    	<th width="8%">参保图标统计</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			                  <td></td>
			                <td></td>
				<td></td>
			                <td></td>
			</tr>
			
		  </tbody>
		</table>  
	</div>
</div>
</div>